:root {
  --color-wallbit: #0d99ff;
  --color1: rgb(20, 29, 43);
  --color2: rgba(212, 255, 0, 0.2);
  --color3: #ff6d9e;
  --color4: #eeff00;
  --color5: rgb(131, 139, 53);
}
/* fondito animado */
.dots-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.dots {
  position: absolute;
  background-color: var(--color-wallbit);
  filter: drop-shadow(1px 1px 2px var(--color4));
  animation-name: dots;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes dots {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(100vh);
  }
}
body {
  background-color: var(--color1);
  position: relative;
}
body::-webkit-scrollbar {
  background-color: #ff6d9e;
  width: 1px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color-wallbit);
  width: 1px;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif, system-ui, -apple-system, Segoe UI, Neue !important;
  backdrop-filter: blur(50px);
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
}
header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  width: calc(100% - 200px);
}

/*titulo*/
.titulo {
  font-family: "Press Start 2P", system-ui;
  font-weight: 600;
  margin-top: 100px;
  margin-bottom: 50px;
}
.titulo span {
  color: var(--color3);
  font-size: 4em;
  filter: drop-shadow(-3px 2px 0px var(--color4));
}

/*confirmado*/
.confirmado{
  filter: drop-shadow(-3px 2px 0px var(--color3));
  font-size: 3rem;
  font-family: "Press Start 2P", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*loguito wallbit*/
.brand {
  display: flex;
  align-items: center;
  margin-top: 20px;
  transition: 2s ease;
  opacity: 0;
}
.brand:hover {
  opacity: 1;
}

.brand-text {
  display: flex;
  flex-direction: column;
  justify-content: cente;
  align-items: center;
  text-align: left;
  font-size: 1.5em;
}
.brand-text h4 {
  margin: 0;
}
.brand-text span {
  font-size: x-small;
}

.logo {
  width: 80px;
}


.form-container {
  display: flex;
  align-items: center;
  margin: 20px 0px 20px 0px;
}

/*formulario */
form {
  display: flex;
  justify-content: center;
  align-items: center;
}

form input {
  width: 200px;
  height: 40px;
  font-size: 1.5em;
  font-family: "Press Start 2P", system-ui;
  text-align: center;
  background-color: var(--color2);
  border: 1px solid var(--color2);
  cursor: crosshair;
  outline: none !important;
  margin-right: 20px;
  border-radius: 4px;
  border: 1px solid var(--color4);
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  clip-path: polygon(
    0% 1%,
    0.5% 1%,
    0.5% 0%,
    99.5% 0%,
    99.5% 0.5%,
    100% 0.5%,
    100% 99.5%,
    99.5% 99.5%,
    99.5% 100%,
    0.5% 100%,
    0.5% 99.5%,
    0% 99.5%
  );
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.cantidad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.restar{
  border: none;
  background-color: transparent;
  font-size: 0.5rem;
  font-family: "Press Start 2P", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.botonera2 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 10px
}
button {
  height: 45px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid var(--color4);
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;
  clip-path: polygon(
    0% 1%,
    0.5% 1%,
    0.5% 0%,
    99.5% 0%,
    99.5% 0.5%,
    100% 0.5%,
    100% 99.5%,
    99.5% 99.5%,
    99.5% 100%,
    0.5% 100%,
    0.5% 99.5%,
    0% 99.5%
  );
  border-radius: 4px;
  backdrop-filter: blur(100px);
  color: #ffffff;
  font-weight: 900;
  font-size: large;
  font-family: "VT323", monospace;
  font-style: normal;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover {
  box-shadow: 1px 1px var(--color4);
}

/*estilos tabla*/
.tabla-container {
  position: relative;
  display: inline-block;
  padding: 0px;
  background-color: transparent;
  clip-path: polygon(
    0% 1%,
    0.5% 1%,
    0.5% 0%,
    99.5% 0%,
    99.5% 0.5%,
    100% 0.5%,
    100% 99.5%,
    99.5% 99.5%,
    99.5% 100%,
    0.5% 100%,
    0.5% 99.5%,
    0% 99.5%
  );
  border: 2px solid var(--color4);
  border-right: 5px solid transparent;
  border-top: 5px solid transparent;

  background-color: var(--color2);
  box-shadow: 0 0 0 2px var(--color4), 5px 5px 0 var(--color-shadow);
}
.tabla {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  text-align: left;
  font-family: "VT323", monospace;
  font-size: clamp(0.9rem, 1.5vw, 1.2rem);
  color: #fff;
  background-color: var(--color2);
  border: none;
}

.tabla thead th {
  padding: 5px 10px;
  font-size: clamp(1.5rem, 2vw, 1rem);
  text-transform: uppercase;
}

.tabla tbody {
  backdrop-filter: blur(100px);
}

.tabla tbody tr td {
  height: 100%;
  border: 1px solid var(--color2);
  text-align: center;
  font-size: clamp(1.9rem, 1.3vw, 0.5rem);
  line-height: 1.5;
  padding: 8px;
}
.tabla tbody tr td:last-child{
background-color: #fff;
}

.tabla tbody tr td img {
  width: 100%;
  height: 100%;
  max-width: 100px;
  filter:  contrast(1.1);
  mix-blend-mode: multiply;
  object-fit: contain;

  background-color: transparent;
}

.tabla tfoot {
  height: 10px;
}

.tabla tfoot tr:first-child td:first-child {
  border-radius: 4px 0px 0px 4px;
}
.tabla tfoot tr:first-child td:last-child {
  border-radius: 0px 4px 4px 0px;
}
.tabla tfoot td {
  padding: 5px 10px;
  font-size: clamp(1.5rem, 1.2vw, 1rem);
}
.resaltado {
  color: var(--color4);
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  padding-bottom: 50px;
}
@media (max-width: 740px) {
  #root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  header {
    margin-top: 30px;
  }
  main {
    width: calc(100% - 30px);
  }
  .titulo {
    margin-bottom: 10px;
  }
  .titulo span {
    font-size: 2rem;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: xx-large;
  }
  form span {
    display: none;
  }
  form input {
    width: 100%;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    margin: 0;
  }
  .inputs {
    display: flex;
    gap: 50px;
  }

  .botonera {
    width: 100%;
  }
 
  .botonera button {
    width: 100%;
    font-size: 1.5rem;
    margin-top: 20px;
  }
  .tabla {
    font-size: clamp(1.5rem, 2vw, 1rem);
  }
  .tabla tbody tr td {
    font-size: clamp(0.8rem, 2vw, 1rem);
    word-wrap: break-word;
    white-space: normal;
    padding: 8px;
  }

  .tabla thead th {
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    padding: 8px;
  }

  .tabla tfoot td {
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    padding: 5px 10px;
  }

  .tabla tbody tr td img {
    width: 100%;
    height: 100%;
    max-width: 200px;
    
    object-fit: contain;
    filter: contrast(1.1) brightness(1.1);
    mix-blend-mode: multiply;
    background-color: transparent;
  }
   
  .brand-text {
    font-size: 1rem;
  }

  .logo {
    width: 50px;
  }
}
