:root {
  --color-wallbit: #0d99ff;
  --color1: rgb(224, 224, 224);
  --color2: rgb(212, 255, 0);
}
#root {
  width: calc(100% - 20%);
  margin: 0 auto;
  text-align: center;
  font-family: Poppins, sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue !important;
  backdrop-filter: blur(50px);
  padding: 50px;
  border-radius: 8px;
  color: #333;
}
body {
  background-color: var(--color1);

  position: relative;
}
.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 10px 20px 10px;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
form input {
  width: 80px;
  height: 40px;
  font-size: x-large;
  background-color: whitesmoke;
  border: 1px solid rgba(180, 179, 179, 0.5);
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;

  outline: none !important;
  border-radius: 4px;
}

button {
  height: 45px;
  border-radius: 4px;
  border: 1px solid rgba(180, 179, 179, 0.5);
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
  outline: none;
  background-color: var(--color-wallbit);
  color: #ffffff;
  font-weight: 900;
  font-size: medium;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover {
  border-bottom: 0;
  border-right: 0;
}
.tabla {
  width: 100%;
  height: 100%;
  text-align: left;
  background-color: whitesmoke;
  border: 1px solid rgba(180, 179, 179, 0.5);
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
  border-radius: 8px;
  padding: 10px 20px;
}
.lines {
  overflow: hidden;
}
.lines span {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  animation: linea infinite linear;
  rotate: 45deg;
}
@keyframes linea {
  100% {
    top: 500px;
    left: 500px;
  }
}

.tabla tbody {
  backdrop-filter: blur(8px);
}
.tabla tbody tr td {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 20px;
}
.tabla tbody tr td:first-child {
  border-radius: 4px 0px 0px 4px;
}
.tabla tbody tr td:last-child {
  border-radius: 0px 4px 4px 0px;
}
.tabla tbody tr td img {
  height: 100px;
}
.tabla tfoot {
  height: 10px;
}
.tabla tfoot tr td {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.tabla tfoot tr:first-child td:first-child {
  border-radius: 4px 0px 0px 4px;
}
.tabla tfoot tr:first-child td:last-child {
  border-radius: 0px 4px 4px 0px;
}
.tabla tfoot tr td:last-child {
  border-radius: 4px;
}

@media (min-width: 350px) {
}
